/* Grid */
.gridwrap {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "a c c"
    "b c c";

  /* Gameboard */
  background-image: url("../images/appletree.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 600px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign {
  grid-area: a;
  margin: auto;
  /* margin-top: 100px; */
  color: #38271a;
}
.basket {
  grid-area: b;
  margin: auto;
  margin-bottom: 50px;
}
.tree {
  grid-area: c;
}

.movable {
  position: absolute;
  cursor: grab;
}

#signBox {
  /* position: absolute; */
  font-size: 46pt;
  font-family: "Momo Trust Display", sans-serif;
  margin-bottom: 105px;
}
#signLabel {
  font-size: 24pt;
  font-family: "Momo Trust Display", sans-serif;
  margin-bottom: 162px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
