/* Bingo */
.bingo {
  font-size: 24pt;
}
.bingo table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  border-spacing: 10px;
}
.bingo td {
  background-color: rgb(187, 187, 187);
  padding: 10px;
  width: 25%;
  height: 25%;
}
.bingo td:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

/* Grid */
.gridwrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b c";
}

/* Colour selection */
.left {
  grid-area: a;
}
.left table {
  margin-right: 0px;
  margin-left: auto;
  margin-top: 50px;
  border-spacing: 15px;
}
.left td {
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.left td:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
/* Colours */
.col1 {
  background-color: #e2873c !important;
}
.col2 {
  background-color: #1c5e1c !important;
}
.col3 {
  background-color: rgb(179, 54, 54) !important;
}
.col4 {
  background-color: #c9ab4a !important;
}
.col5 {
  background-color: #67af6b !important;
}
.col6 {
  background-color: #6e9bdf !important;
}
.col7 {
  background-color: #fc65c2 !important;
}
.col8 {
  background-color: #8f5bbd !important;
}

/* Bingo board */
.mid {
  grid-area: b;
}

/* Game Numbers */
.right {
  grid-area: c;

  text-align: left;
  margin-top: 50px;

  font-size: 16pt;
  font-family: sans-serif;
}
.right h2 {
  padding: 10px;
}

input {
  width: 60px;
  padding: 2px;
}
input[type="button"] {
  padding: 5px;
  width: 150px;
  margin: 10px;
}

/* Instructions */
hr {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: rgb(66, 66, 66);
}
