/* Bingo */
.bingo {
  font-size: 24pt;
}
.bingo table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  border-spacing: 10px;
}
.bingo td {
  background-color: rgb(187, 187, 187);
  padding: 10px;
  width: 25%;
  height: 25%;
}
.bingo td:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

/* Main Grid */
.gridwrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b c";
}

/* Colour selection */
.left {
  grid-area: a;
}
.left table {
  margin-right: 0px;
  margin-left: auto;
  margin-top: 50px;
  border-spacing: 15px;
}
.left td {
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.left td:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
/* Colours */
.col1 {
  background-color: #3a52a3 !important;
}
.col2 {
  background-color: #126812 !important;
}
.col3 {
  background-color: rgb(199, 29, 29) !important;
}
.col4 {
  background-color: #c0a718 !important;
}
.col5 {
  background-color: #63aa63 !important;
}
.col6 {
  background-color: #25bdbd !important;
}
.col7 {
  background-color: #e63be6 !important;
}
.col8 {
  background-color: #813aa1 !important;
}

/* Bingo board */
.mid {
  grid-area: b;
}

/* Game Numbers */
.right {
  grid-area: c;

  text-align: left;
  margin-top: 50px;

  font-size: 16pt;
  font-family: sans-serif;
}
.right h2 {
  padding: 10px;
}
