/* Grid */
.gridwrap {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "a c"
    "b c";

  /* Gameboard */
  background-image: url("../images/cat_cafe_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 600px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.speech {
  grid-area: a;
  margin: auto;
}
.cat {
  grid-area: b;
  margin: auto;
}
.right {
  grid-area: c;
  margin: auto;
  margin-bottom: 5%;
}

#treatBag:hover {
  cursor: pointer;
}
.movable {
  position: absolute;
  cursor: grab;
}

#speechBox {
  /* position: absolute; */
  font-size: 46pt;
  font-family: "Momo Trust Display", sans-serif;
  margin-bottom: 105px;
}
#speechLabel {
  font-size: 24pt;
  font-family: "Momo Trust Display", sans-serif;
  margin-bottom: 175px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
