/* Cursor */
body,
body:hover {
  cursor: none;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("../images/default.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  pointer-events: none; /* Ensure the custom cursor doesn't interfere with content */
  z-index: 5;
}

/* Grid */
.gridwrap {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "a c"
    "b c";

  /* Gameboard */
  background-image: url("../images/pet_cafe_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 600px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.speech {
  grid-area: a;
  margin: auto;
}
.pet {
  grid-area: b;
  margin: auto;
}
.right {
  grid-area: c;
  margin: auto;
  margin-bottom: 5%;
}

/* #treatBag:hover {
  cursor: pointer;
} */
.movable {
  position: absolute;
  /* cursor: grab; */
}

#speechBox {
  font-size: 46pt;
  font-family: "Momo Trust Display", sans-serif;
  margin-bottom: 105px;
}
#speechLabel {
  font-size: 24pt;
  font-family: "Momo Trust Display", sans-serif;
  margin-bottom: 170px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modalBtn,
.modalBtn:hover {
  cursor: none;
}

.petChoice {
  margin: auto;
  max-width: 80px;
  margin-bottom: 5px;
}
