/* Grid */
.gridwrap {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "a a b"
    "a a b";

  /* Gameboard */
  background-image: url("../images/fish_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 600px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left {
  grid-area: a;
  margin: auto;
}

.right {
  grid-area: b;
  margin: auto;
}

/* Modal settings */
.modal {
  font-size: 12pt;
}
.modalBtn {
  width: 100px;
  margin: auto;
}

/* Catching */
#fishTable {
  margin: auto;
  font-size: 20pt;
  margin-left: 60px;
}
#fishTable td {
  width: 225px;
  height: 225px;
}
#fishTable td img {
  width: 100px;
  cursor: pointer;
}

#cardTable {
  font-size: 20pt;
  margin-bottom: 23px;
  margin-left: 40px;
}
#cardTable td {
  width: 100px;
  height: 100px;

  padding: 6px;
}
#cardTable td img {
  width: 93px;
}
