/* Grid */
.gridwrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b b";
}

/* Vault */
.left {
  grid-area: a;

  margin-left: auto;
}

/* Questions */
.right {
  grid-area: b;
  /* 
  text-align: left;
  margin-top: 50px;

  font-size: 16pt;
  font-family: sans-serif; */
}

/* Setup */
#settings input {
  width: 40px;
  padding: 2px;
}
#settings input[type="button"] {
  padding: 5px;
  width: 150px;
  margin: 10px;
}

/* Question display */
#questionBox {
  text-align: left;
  padding: 40px 70px;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
#q1Box {
  padding-bottom: 100px;
  color: rgb(223, 8, 8);
}
#q2Box {
  padding-bottom: 100px;
  color: green;
}
#q3Box {
  color: blue;
}

/* Answer input */
.left input[type="button"] {
  width: 80px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.left input[type="number"] {
  width: 60px;
  padding: 10px;
  border-radius: 8px;

  text-align: center;
  font-size: 18px;

  cursor: default;
}
.left input:disabled {
  cursor: not-allowed;
}
#a1Box {
  border: 2px solid rgb(223, 8, 8);
  background: rgb(223, 190, 190);
}
#a1Box:focus {
  border: 2px solid rgb(223, 8, 8);
  outline: none;
}
#a2Box {
  border: 2px solid #008000;
  background-color: rgb(178, 201, 183);
}
#a2Box:focus {
  border: 2px solid #008000;
  outline: none;
}
#a3Box {
  border: 2px solid #0000ff;
  background-color: rgb(176, 176, 230);
}
#a3Box:focus {
  border: 2px solid #0000ff;
  outline: none;
}
/* ----- Answer input: remove number arrow increment buttons ----- */
/* Chrome, Safari, Edge, Opera */
.left input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.left input[type="number"] {
  appearance: textfield;
}

/* Instructions */
hr {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin: auto;
  width: 60%;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: rgb(66, 66, 66);
}
